nav{
    color: green;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
nav ul {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    list-style: none;
}

/* Tablet AND monbile*/
@media only screen and (max-width: 800px) and (min-width: 0px) {
    nav{
        display: none;
    }
}